.section-data{
  margin: 25px;
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}

.container-left{
  align-items: center;
  background-color: rgba(13, 21, 32, 0.8);
  border-radius: 32px;
  width: 20%;
}

.add-user-container{
  display: flex;
  justify-content: center;
}

.kpis-img{
  object-fit: contain;
}

.title-cont-left{
  color: #e8c052;
  margin: 15px 0 40px 0px;
  text-align: center;
}

.container-rigth{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-rigth-top{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 32px;
  padding: 25px;
}

.container-form{
  display: flex;
  flex-direction: columns;
  gap: 50px;
}

.modal-content{
  width: 770px;
}

.modal-dialog-scrollable{
  margin: 20px 0 0 170px;
}

#style-btn-comand{
  background-color: transparent;
  border: none;
}

.btn-panel>ul{
  list-style: none;
  display: flex;
  flex-direction: columns;
  gap: 8px;
}

.container-search{
  margin: 0;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 30px;
  width: 90%;
}
.search-bar-bd{
  width: 100%;
  height: 40px;
  background: rgba( 245, 243, 243, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border: 1px solid rgba( 112, 111, 111, 0.37 );
  border-radius: 12px;
}

.search-bar-bd::placeholder {
  color: #dadada;
}

tr{
  align-items: center;
}




