body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 864px;
}
.main-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.contenedor-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height:100%;
  background-image: url("./assets/cerveza.jpg");
  background-size: cover;
  background-attachment: contain;
  background-position: center;
  border-radius: 0  20px 20px 0;
  box-shadow: 7px 7px 11px 0px rgba(68,68,68,1);
  margin: 0;
  padding: 0;
}

.contenedor-rigth {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-image: url("./assets/BG_Login.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 24rem;
}

.container-form > h1 {
  color:#2d694c;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
}

.container-form > h3 {
  margin: 0 0 25px 0;
  color: #865403;
  font-weight: 400;
}

.input-mail {
  width: 110%;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 18px;
  background-color: #ededed;
  border: 1px solid #706f6f;
}

.input-password {
  width: 110%;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 18px;
  background-color: #ededed;
  border: 1px solid #706f6f;
}

.check-password {
  font-size: small;
  margin: 0 0 8px 0;
}

.check-box {
  background-color: #ededed;
  border: 1px solid #706f6f;
}


.btn-forguet-pass {
  text-decoration:underline;
  background: transparent;
  border: none;
  text-align: center;
  margin-bottom: 28px;
  font-size: medium;
}

.btn-forguet-pass:hover {
  color:blue;
}

.btn-submit {
  text-align: center;
}

.cont-btn{
  display: flex;
  
}

.btn-submit {
  background-color: #fe9623;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px 0 12px;
  width: 12rem;
  height: 2rem;
  border-radius: 16px;
  border: none;
}

.container-logo{
  display: flex;
  align-items: center;
  width: 40%;
  height: 60%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.img-log{

  scale: flex;
  
}

#show-hide{
  display: none;
}

.forguet-password{
  flex-direction: columns;
  justify-content: center;
  align-items: center;
}

.title-recovery-password{
  text-align: center;
}

.text-verification{
  text-align: center;
  line-height:1.5rem;
  
}

.input-recovery-pass{
  width: 80%;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 18px;
  background-color: #ededed;
  border: 1px solid #706f6f;
}

.send-email-verification{
  background-color: #fe9623;
  width: 4rem;
  padding: 12px;
  border-radius: 16px;
  border: none;
}

.container-btn-submit{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
}



